name: Package and deploy Labspace

env:
  DOCKERHUB_REPO: dockersamples/labspace-agentic-apps-with-docker

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Ensure Compose v2.39.3+ is available (includes bug fixes for publishing)
      # Can remove this action once default runners include it
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: v2.39.3

      - name: joghbigh
        uses: docker/login-action@v3
        with:
          username: johnnybigods@gmail.com
          password: Nuncavisto8?

      - name: Publish Compose file
        run: |
          docker compose -f oci://dockersamples/labspace -f .labspace/compose.override.yaml publish ${DOCKERHUB_REPO} --with-env -y
